section.team#team
	h2.center_header=team.header
	.team-inner
		p.team-title=team.title
		.team-members
			- var t = 0;
			while t < 4
				- t++
				.team-member
					.team-member-info
						.team-member-image_wrap
							+insert-image('team' + t + '.jpg', 'team member', 'team-member-image')
						h3.team-member-name=team.member_name
						p.team-member-role=team.member_roles[(t - 1)]
					.team-member-overlay
						h4.team-member-overlay-header=team.member_header
						p.team-member-overlay-title=team.member_title
						include ../social_buttons/social_buttons
